body {
    background: lightpink;
}

.mp3-outer-box {
    background: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32vw;
    height: 50vw;
    border-radius: 2vw;
    box-shadow: 0vw 0vw 1vw .1vw black, inset 0vw 0vw 1.25vw 0.15vw grey;
}

.mp3-screen {
    position: relative;
    left: 50%;
    top: 3%;
    transform: translateX(-50%);
    background: slategrey;
    width: 24vw;
    height: 20vw;
    border-radius: 0.75vw;
    box-shadow: inset 0vw 0vw 0.1vw 0.15vw black;
}

#mp3-screen-apple-logo {
    height: 15vw;
    width: 15vw;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
}

.mp3-buttons {
    position: relative;
    text-align: center;
    left: 50%;
    top: 5.25%;
    transform: translateX(-50%);
    height: 5vw;
    width: 30vw;
}

.mp3-rewind-button {
    display: inline-block;
    position: absolute;
    left: 12.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5.5vw;
    width: 5.5vw;
    box-shadow: inset 0vw 0vw 0.5vw 0.1vw grey;
    border-radius: 5.5vw;
}

.mp3-rewind-button-symbol { 
    position: relative;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.rewind-left-line {
    background: grey;
    position: absolute;
    height: 1vw;
    width: 0.25vw;
    left: 35%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.rewind-center-triangle {
    position: absolute;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    width: 0; 
    height: 0; 
    border-top: .5vw solid transparent;
    border-bottom: .5vw solid transparent; 
    border-right: .75vw solid grey; 
}

.rewind-right-triangle {
    position: absolute;
    left: 60%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: .5vw solid transparent;
    border-bottom: .5vw solid transparent; 
    border-right: .75vw solid grey; 
}

.mp3-menu-button {
    display: inline-block;
    position: absolute;
    left: 37.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5.5vw;
    width: 5.5vw;
    box-shadow: inset 0vw 0vw 0.5vw 0.1vw grey;
    border-radius: 5.5vw;
}

.mp3-menu-button-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25vw;
    font-weight: bold;
    color: gray;
    position: absolute;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.mp3-play-pause-button {
    display: inline-block;
    position: absolute;
    left: 62.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5.5vw;
    width: 5.5vw;
    box-shadow: inset 0vw 0vw 0.5vw 0.1vw grey;
    border-radius: 5.5vw;
}

.mp3-play-pause-button-symbol {
    position: relative;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.play-pause-left-triangle {
    position: absolute;
    left: 30%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: .5vw solid transparent;
    border-bottom: .5vw solid transparent; 
    border-left: .75vw solid grey; 
}

.play-pause-center-line {
    background: grey;
    position: absolute;
    height: 1vw;
    width: 0.25vw;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.play-pause-right-line {
    background: grey;
    position: absolute;
    height: 1vw;
    width: 0.25vw;
    left: 60%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.mp3-fast-forward-button {
    display: inline-block;
    position: absolute;
    left: 87.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 5.5vw;
    width: 5.5vw;
    box-shadow: inset 0vw 0vw 0.5vw 0.1vw grey;
    border-radius: 5.5vw;
}

.mp3-fast-forward-button-symbol {
    position: relative;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.fast-forward-left-triangle {
    position: absolute;
    left: 30%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: .5vw solid transparent;
    border-bottom: .5vw solid transparent; 
    border-left: .75vw solid grey; 
}

.fast-forward-center-triangle {
    position: absolute;
    left: 50%;
    top: 47.5%;
    transform: translate(-50%, -50%);
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-top: .5vw solid transparent;
    border-bottom: .5vw solid transparent; 
    border-left: .75vw solid grey; 
}

.fast-forward-right-line {
    background: grey;
    position: absolute;
    height: 1vw;
    width: 0.25vw;
    left: 70%;
    top: 47.5%;
    transform: translate(-50%, -50%);
}

.mp3-outer-scroll-wheel {
    position: relative;
    left: 50%;
    top: 7%;
    transform: translateX(-50%);
    height: 20vw;
    width: 20vw;
    border-radius: 20vw;
    box-shadow: inset 0vw 0vw 1.5vw 0.1vw grey;
}

.mp3-inner-scroll-wheel {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 6vw;
    width: 6vw;
    border-radius: 6vw;
    box-shadow: inset 0vw 0vw 0.75vw 0.1vw grey;
}